<!DOCTYPE html>
<html>
    <head>
        <title>{{{APPNAME}}}</title>
        <meta property="og:title" content="{{{APPNAME}}}" />
        <meta name="description" content="{{{DESCRIPTION}}}" />
        <meta property="og:description" content="{{{DESCRIPTION}}}" />
        <meta property="og:type" content="website" />
        <meta charset=utf-8 />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="me" href="https://fosstodon.org/@zerodogg" />
        <link rel="stylesheet" href="/style.css" />
        <link rel="shortcut icon" href="/icon.png" />
    </head>
    <body>
        <main>
            <header>
                <img src="/icon.png" class="headerLogo" /> <h1>{{{APPNAME}}}</h1>
            </header>
