$background: #303030;
$textColor: #ffffff;
$linkColor: #64B5F6;
$mobileWidth: 500px;
html,body,img {
    background-color: $background;
}
body {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, BlinkMacSystemFont, -apple-system, sans-serif;
    color: $textColor;
    margin: 0;
    font-size: 1rem;
    line-height: 1.15;
}
main {
    padding-top:1rem;
    max-width: 44rem;
    margin: 0 auto;
    @media(max-width: $mobileWidth)
    {
        width: 100%;
    }
}
footer {
    font-size:75%;
}
a,a:visited {
    color: $linkColor;
}
header,menu {
    padding-left: 1rem;
    padding-right: 1rem;
}
header
{
    .headerLogo
    {
        max-height:1.5rem;
        padding-right:0.5rem;
    }
    h1 {
        display: inline-block;
    }
}

menu {
    margin: 0px;
    font-weight:bold;
    a,a:visited
    {
        color: $textColor;
        margin-right: 1rem;
    }
    a:last-child {
        margin-right: 0px;
    }
    .langsel
    {
        display:inline-block;
        font-weight:normal;
    }
}

section,footer {
    padding: 1rem;
}
.screenshot {
    cursor: zoom-in;
}
img
{
    max-width:100%;
    &.badge
    {
        max-width:200px;
        &.ios
        {
            max-height:52px;
            padding:12px;
        }
        &.gplay
        {
            max-height:69px;
            padding-top:4px;
        }
    }
}
.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.flex-item:first-child {
    padding-left: 0px;
}
.flex-item:last-child {
    padding-right: 0px;
}
.flex-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex: 0 1 auto;
}
h1, h2, h3, h4, h5 {
    margin: 0 0 1rem 0;
}
// Merge flex containers when on phones
@media(max-width: $mobileWidth) {
    .flex-container {
        display: block;
    }
    .flex-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0px;
        padding-right: 0px;
    }
    // The install buttons take up additional spacing which ends up adding
    // extra padding, so we disable the default padding on the bottom for the
    // install block
    #install {
        padding-bottom:0px;
    }
    #install .flex-item {
        line-height:0px;
        padding-top:0px;
        padding-bottom:0px;
    }
}
