Migraine Log is copyright © <a href="https://www.zerodogg.org/">Eskild Hustvedt</a> {{{YEAR}}}. Migraine Log, and this website, is licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License</a> version 3. The source code for this website is <a href="https://gitlab.com/mglog/migraine-log-website">available on GitLab</a>. iOS development environment generously provided by <a href="https://codemagic.io">codemagic.io</a>. Linux and Android CI environment generously provided by <a href="https://about.gitlab.com/solutions/open-source/">GitLab Solutions for Open Source Projects</a>.<br />
Google Play and the Google Play logo are trademarks of Google LLC. Apple, iOS, iPhone, iPad and App Store are trademarks of Apple Inc.
