<h3>Free software</h3>
Migraine Log is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public License as
published by the Free Software Foundation, either version 3 of
the License, or (at your option) any later version.<br /><br />
Migraine Log is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
<a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General
Public License</a> for more details.<br /><br />
The complete source code for Migraine Log is <a href="https://gitlab.com/mglog/org.zerodogg.migraineLog/">available on GitLab.</a>

