<h3>Install</h3>
The latest version of Migraine Log is {{{VERSION}}}. It is
available for Android on <a
href='https://play.google.com/store/apps/details?id=org.zerodogg.migraineLog'>Google
Play</a> and <a
href='https://f-droid.org/en/packages/org.zerodogg.migraineLog/'>F-Droid</a>,
the free software appstore, and iOS (iPhone/iPad) on <a
href="https://apps.apple.com/en/app/migraine-log/id1636946550?platform=iphone">App
Store</a>. See the <a
    href="https://gitlab.com/mglog/org.zerodogg.migraineLog/-/blob/v{{{VERSION}}}/ChangeLog.md">ChangeLog</a>
for details on changes since the last release.
<div class="flex-container">
    <div class="flex-item">
        <a href='https://apps.apple.com/en/app/migraine-log/id1636946550?platform=iphone'><img src="/appstore-badge.png" class="badge ios" alt="Download for iOS on the App Store" /></a>
    </div>
    <div class="flex-item">
        <a href='https://play.google.com/store/apps/details?id=org.zerodogg.migraineLog'><img src="/play-badge.png" class="badge" alt="Get it for Android on Google Play" /></a>
    </div>
    <div class="flex-item">
        <a href='https://f-droid.org/en/packages/org.zerodogg.migraineLog/'><img src="/fdroid-badge.png" class="badge" alt="Get it for Android on F-Droid" /></a>
    </div>
</div>
