<menu>
    <a href="#install">Install</a> <a href="#screenshots">Screenshots</a> <a href="#privacy">Privacy</a> <a href="#localization">Languages</a> <a href="#issues">Issues and bug reports</a> <span class="langsel">Lang: en|<a href="/no">no</a></span>
</menu>
