<h3>Privacy</h3>
Migraine Log has been designed from the ground up to respect
your privacy. By default it requests no extended permissions at
all from your device, not even network access. The only
additional permission it might request is storage access if you
want to import files, it does not need, nor request, storage
access unless you use the import function.<br /><br />
Migraine Log contains no trackers and saves none of your data
in "the cloud" or anywhere else other than on your local
device, unless you explicitly use the export function, and even
then it is up to you how you treat and transfer the exported
file.<br /><br />
You may view the full privacy policy <a href="https://gitlab.com/mglog/org.zerodogg.migraineLog/-/blob/main/Privacy.md">on GitLab</a>.

