<section id="screenshots">
    <h3>Screenshots</h3>
    <div class="flex-container">
        <div class="flex-item">
            <a class="screenshot" href="/en/1.png"><img src="/en/1.png" alt="Screenshot" /></a>
        </div>
        <div class="flex-item">
            <a class="screenshot" href="/en/2.png"><img src="/en/2.png" alt="Screenshot" /></a>
        </div>
        <div class="flex-item">
            <a class="screenshot" href="/en/3.png"><img src="/en/3.png" alt="Screenshot" /></a>
        </div>
    </div>
</section>
