Migrenelogg er © <a href="https://www.zerodogg.org/">Eskild Hustvedt</a> {{{YEAR}}}. Migrenelogg, og denne nettsida, er lisensert under <a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General Public License</a> versjon 3. Kjeldekoden for denne nettsida er <a href="https://gitlab.com/mglog/migraine-log-website">tilgjengeleg på GitLab</a>. iOS utviklingsmiljø levert av <a href="https://codemagic.io">codemagic.io</a>. Linux og Android CI-miljø levert av <a href="https://about.gitlab.com/solutions/open-source/">GitLab løysingar for open-kjeldekode-prosjekt</a>.<br />
Google Play og Google Play logoen er ein merkevare eid av Google LLC. Apple, iOS, iPhone, iPad og App Store er merkevarer eigd av Apple Inc.
