<h3>Fri programvare</h3>
Migrenelogg er fri programvare: du kan redistribuera og/eller endre programmet
under vilkåra i GNU General Public License som publisert av the Free Software
Foundation, anten versjon 3 av lisensen, eller (viss du vil) ein seinare
versjon.<br /><br />
Dette programmet vert distribuert i håp om at det er nyttig, men UTAN NOKON
FORM FOR GARANTI, ikkje ein gang ein implisitt garanti om at det er SALBART
eller EIGNA TIL EIT BESTEMT FORMÅL. Sjå
<a href="http://www.gnu.org/licenses/gpl-3.0.html">GNU General
Public License</a> for detaljar.<br /><br />
Den komplette kjeldekoden til Migrenelogg er <a href="https://gitlab.com/mglog/org.zerodogg.migraineLog/">tilgjengeleg på GitLab.</a>
