<h3>Installer</h3>
Den nyaste versjonen av Migrenelogg er {{{VERSION}}}. Den er tilgjengeleg
for Android på <a
href='https://play.google.com/store/apps/details?id=org.zerodogg.migraineLog'>Google
Play</a> og <a
href='https://f-droid.org/en/packages/org.zerodogg.migraineLog/'>F-Droid</a>,
den frie app-butikken, og iOS (iPhone/iPad) på <a
href="https://apps.apple.com/no/app/migraine-log/id1636946550?platform=iphone">App
Store</a>.  Sjå <a
    href="https://gitlab.com/mglog/org.zerodogg.migraineLog/-/blob/v{{{VERSION}}}/ChangeLog.no.md">endringsloggen</a>
for detaljar om endringar sidan førre utgåve.
<div class="flex-container">
    <div class="flex-item">
        <a href='https://apps.apple.com/no/app/migraine-log/id1636946550?platform=iphone'><img src="/appstore-badge-no.png" class="badge ios" alt="Last ned for iOS på App Store" /></a>
    </div>
    <div class="flex-item">
        <a href='https://play.google.com/store/apps/details?id=org.zerodogg.migraineLog'><img src="/play-badge-no.png" class="badge gplay" alt="Tilgjengeleg for Android på Google Play" /></a>
    </div>
    <div class="flex-item">
        <a href='https://f-droid.org/en/packages/org.zerodogg.migraineLog/'><img src="/fdroid-badge-no.png" class="badge" alt="Tilgjengeleg for Android på F-Droid" /></a>
    </div>
</div>
