<menu>
    <a href="#install">Installer</a> <a href="#screenshots">Skjermbilete</a> <a href="#privacy">Personvern</a> <a href="#localization">Språk</a> <a href="#issues">Tilbakemelding</a> <span class="langsel">Lang: <a href="/en">en</a>|no</span>
</menu>
