<h3>Personvern</h3>
Migrenelogg har blitt designet til å respektere privatlivet ditt. Den ber ikkje om nokon spesielle tillatelsar som standard, ikkje ein gang nettverkstilgang. Den einaste tilgangen den <i>kan</i> be om er tilgang til lagring. Den ber om dette viss du ynskjer å importere data til Migrenelogg. Den treng ikkje, og ber heller ikkje om, tilgang til lagring viss du ikkje nyttar import-funksjonen.<br /><br />Migrenelogg inneheld ingen sporing og lagrer ingen av dine data i «skyen» eller andre stader anna enn på din lokale eining, med mindre du nyttar eksporter-funksjonen, og viss du nyttar eksporter-funksjonen er det framleis du som styrer korleis du handterer den eksportert fila.<br /><br />
Du kan sjå alle personvernreglane <a href="https://gitlab.com/mglog/org.zerodogg.migraineLog/-/blob/main/Privacy.md">på GitLab</a>.

