<section id="screenshots">
    <h3>Skjermbilete</h3>
    <div class="flex-container">
        <div class="flex-item">
            <a class="screenshot" href="/no/1.png"><img src="/no/1.png" alt="Skjermbilete" /></a>
        </div>
        <div class="flex-item">
            <a class="screenshot" href="/no/2.png"><img src="/no/2.png" alt="Skjermbilete" /></a>
        </div>
        <div class="flex-item">
            <a class="screenshot" href="/no/3.png"><img src="/no/3.png" alt="Skjermbilete" /></a>
        </div>
    </div>
</section>
